.valid {
  background-color: #3CBC8D;
  color: white;
}

.invalid {
  background-color: pink;
  color: black;
}

div {
  margin-top: 5px;
  margin-bottom: 5px;
}

input {
  margin: 5px;
}

.button {
    display: inline-block;
    vertical-align: middle;
    margin: 0 0 1rem 0;
    font-family: inherit;
    padding: 0.85em 1em;
    -webkit-appearance: none;
    border: 1px solid transparent;
    border-radius: 0;
    -webkit-transition: background-color 0.25s ease-out, color 0.25s ease-out;
    transition: background-color 0.25s ease-out, color 0.25s ease-out;
    font-size: 0.9rem;
    line-height: 1;
    text-align: center;
    cursor: pointer;
    background-color: #1779ba;
    color: #fefefe;
    align-self: center;
}

.button.success:hover, .button.success:focus {
    background-color: #22bb5b;
    color: #0a0a0a;
}

.button.success {
    background-color: #3adb76;
    color: #0a0a0a;
}

.button:disabled {
  background-color: GhostWhite;
}
